<a href="https://colab.research.google.com/github/MuhammadRaynaldi/Python-Project/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello')

Hello

**Variables**

In [2]:
Height = 180
print(Height)

180

In [3]:
Name = 'john' #str
print(Name)

john

**Boolean variable**

In [5]:
Is_it_correct = False #boolean

**Methods**

In [6]:
City_name = 'New York City'
 #counting  01234567 (position)
City_name.upper()

'NEW YORK CITY'

In [7]:
City_name.find('w')

2

In [8]:
City_name.replace('City','C')

'New York C'

**Math operators**

In [14]:
9//5 #// for remove decimal number # +,-,* ,**(power), % (reminder of devision)

5**3

125

In [15]:
7%5 #reminder

2

**Assigment Operators**

In [20]:
A = 25
B = 3
D = 'x' #str quotation for text
# A = A + 10 (simple)
# print(A)

A *=10 #avoid long method
print(A)

250

**Comparasion Operators**

In [23]:
A = 10!=4 # <, >, <=, >=, ==, != (non equality)
print(A)

True

**Logical Operators**

In [24]:
# "and", "or", "not"

A = 20
print(A > 30 and A<40)

False 40

In [26]:
A = 20
print(A > 30 or A<40) # at least, 1 of them is true, the result is true

True

In [28]:
print(not A>30) #reverse or opposite result

True

**Conditional Statement (if, elif, else)**

In [34]:
Age = 50

if Age>18:
   print('You are in the defined age limit')   #indentention
elif Age< 18 and Age>=16:
  print('You are near to age limit')
else:
  print('You are not in the age limit')

You are in the defined age limit

**Loop or Looping *For and While**

In [ ]:
i = 2

while i<10:
  print(i) #infinite time iteration
  i += 1 #or i = i+1 #condition to stop

**List**

In [ ]:
A = [1,2,3,4]

In [48]:
City_name = ['New york', 'Montreal','London', 'Paris'] #ther is elemen inside bracket
print(City_name[-1]) # call elemen,
#it can from front (started from 0 (New york),1,2), it can be from last element to first element (started from -1 (Paris), -2, -3)
print(City_name)

Paris
['New york', 'Montreal', 'London', 'Paris']

In [50]:
# Replace Montreal with Milan
City_name[1] = 'Milan'
print(City_name)

['New york', 'Milan', 'London', 'Paris']

In [53]:
#Create new list
New_list = City_name[0:3] # Python doesn't consider second element
print(New_list)

['New york', 'Milan', 'London']

In [54]:
#Insert
Age = [16,20,34,45,50]
Age.insert(2,67) # 2 is position for new element 67
print(Age)

[16, 20, 67, 34, 45, 50]

In [56]:
#Remove
Age.remove(67)
print(Age)

[16, 34, 45, 50]

In [57]:
#len how many element in list
len(Age)

4

**Dictionary**

In [80]:
City_Temp = {'New york':25, 'Montreal':15, 'London':20}
#Each element consist of Key (New york, Montreal, London and the value (25,15,20) that is assigned to to each key
City_Temp['Montreal'] # both of keys and values couls be string #

15

In [81]:
City_Temp['London'] = 'Cool'
print(City_Temp)

{'New york': 25, 'Montreal': 15, 'London': 'Cool'}

In [82]:
City_Temp.values() #to check elements or value in dictionary

dict_values([25, 15, 'Cool'])

In [83]:
#delete any items

del City_Temp['Montreal']

print(City_Temp)

{'New york': 25, 'London': 'Cool'}

**Tuple**

In [85]:
City_name = ('New york', 'Montreal','London', 'Paris')
#the different in Tuple is the use of () parantheses instead of [] bracket in List
# tuple is immutable, cannot be changed like list
City_name[1] = 'Milan'
print(City_name)

TypeError: 'tuple' object does not support item assignment

**For Loop**

In [87]:
City_name = ['New york', 'Montreal','London', 'Paris']

for x in City_name:
  print(x)
  if x == 'London':
    break

New york
Montreal
London

**Range Function**

In [88]:
A = range(10)
print(A)

range(0, 10)

In [91]:
for i in range(10,20,2): #to see the range which is created (0, 10)
#from 10 to 20 with 2 steps is pattern
  print(i)

10
12
14
16
18